body {
    width: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.input {
    padding: 5px;
}

.submenu .title {
    margin-bottom: 3px;
}

.submenu {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 3px;
    margin: 2px;
    border: solid #ddd 1px;
    border-radius: 2px;
}

#open-sheet {
    margin: 3px;
}